* {
   margin: 0px;
   padding: 0px;
}

body {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   color: #999999;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   padding: 0;
   color: #6a6a6a;
   font-weight: 700;
}

p {
   color: #999999;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
}

ul,
p {
   margin: 0px;
   padding: 0px;
}

img {
   max-width: 100%;
   height: auto;
}

.margin_padding_0 {
   margin: 0px;
   padding: 0px;
}

input:focus,
button:focus,
textarea:focus {
   outline: none;
}

::placeholder {
   color: #999999;
   font-weight: 500;
}

a:hover,
a:focus {
   text-decoration: none;
}

/************************************** 
      Menu Section Start
***************************************/
#menu_section {
   line-height: 36px;
   padding: 20px 0px;
   background: green;
}

.logo img {
   width: 145px;
}

.menu ul li {
   display: inline-block;
}

.menu ul li a {
   font-size: 14px;
   color: #f4f5f9;
   margin-right: 40px;
   padding-bottom: 15px;
   display: block;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 700;
   border-bottom: 1px solid transparent;
   letter-spacing: 1px;
   -moz-transition: .1s;
   -webkit-transition: .1s;
   -o-transition: .1s;
   transition: .1s;
}

.menu ul li:last-child a {
   margin-right: 0px;
}

.menu ul li a:hover {
   color: #e74c3c;
   border-bottom: 1px solid #e74c3c;
}

/************************************** 
      Menu Section End
***************************************/