* {
   margin: 0px;
   padding: 0px;
}

body {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   color: #999999;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   padding: 0;
   color: #6a6a6a;
   font-weight: 700;
}

p {
   color: #999999;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
}

ul,
p {
   margin: 0px;
   padding: 0px;
}

img {
   max-width: 100%;
   height: auto;
}

.margin_padding_0 {
   margin: 0px;
   padding: 0px;
}

input:focus,
button:focus,
textarea:focus {
   outline: none;
}

::-webkit-input-placeholder {
   color: #999999;
   font-weight: 500;
}

::-moz-placeholder {
   color: #999999;
   font-weight: 500;
}

:-ms-input-placeholder {
   color: #999999;
   font-weight: 500;
}

::-ms-input-placeholder {
   color: #999999;
   font-weight: 500;
}

::placeholder {
   color: #999999;
   font-weight: 500;
}

a:hover,
a:focus {
   text-decoration: none;
}

/************************************** 
      Menu Section Start
***************************************/
#menu_section {
   line-height: 36px;
   padding: 20px 0px;
   position: absolute;
   top: 0;
   z-index: 2;
   width: 100%;

}

.logo img {
   width: 145px;
}

.menu ul li {
   display: inline-block;
}

.menu ul li a {
   font-size: 14px;
   color: #f4f5f9;
   margin-right: 40px;
   padding-bottom: 15px;
   display: block;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   border-bottom: 1px solid transparent;
   letter-spacing: 1px;
   -webkit-transition: .1s;
   -o-transition: .1s;
   transition: .1s;
}

.menu ul li:last-child a {
   margin-right: 0px;
}

.menu ul li a:hover {
   color: #e74c3c;
   border-bottom: 1px solid #e74c3c;
}

/************************************** 
      Menu Section End
***************************************/


/************************************** 
     Header Section Start
***************************************/
#custom_width {
   max-width: 1920px;
   margin: 0 auto;
}

.header_bg_1 {
   background-image: url(../images/slider/header_slider_bg_1.jpg);
}

.header_bg_2 {
   background-image: url(../images/slider/header_slider_bg_2.jpg);
}

.header_bg_3 {
   background-image: url(../images/slider/header_slider_bg_3.jpg);
}

.header_bg_4 {
   background-image: url(../images/slider/header_slider_bg_4.jpg);
}

.header_bg_5 {
   background-image: url(../images/slider/header_slider_bg_5.jpg);
}

.single_slide_item {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 1;
   background-color: #e74c3c;
   position: relative;
}

.single_slide_item:before {
   position: absolute;
   content: '';
   background: #000000;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   z-index: -1;
   opacity: .7;
}

.header_section_shape:after {
   content: '';
   position: absolute;
   background: #fff;
   width: 51%;
   height: 170px;
   top: 90%;
   -webkit-transform: skew(0deg, 7deg);
   -ms-transform: skew(0deg, 7deg);
   transform: skew(0deg, 7deg);
   z-index: 1;
   -webkit-border-radius: 0px 0px 27px 0px;
   border-radius: 0px 0px 27px 0px;
}

.header_section_shape:before {
   content: '';
   position: absolute;
   background: #fff;
   width: 52%;
   height: 170px;
   left: 49%;
   top: 90%;
   -webkit-transform: skew(0deg, -7deg);
   -ms-transform: skew(0deg, -7deg);
   transform: skew(0deg, -7deg);
   z-index: 1;
   -webkit-border-radius: 0px 0px 2px 27px;
   border-radius: 0px 0px 2px 27px;
}

.header_bottom_icon_bg {
   background: #fff;
   opacity: .3;
   width: 75px;
   height: 75px;
   position: absolute;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   left: 50%;
   top: 92%;
   z-index: 1;
   -ms-transform: translate(-50%, -2%);
   -webkit-transform: translate(-50%, -2%);
   transform: translate(-50%, -2%);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.header_bottom_icon a {
   position: absolute;
   z-index: 2;
   left: 50%;
   top: 94%;
   width: 65px;
   height: 65px;
   background-color: #f4f5f9;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -webkit-transform: translate(-50%, -25%);
   -ms-transform: translate(-50%, -25%);
   transform: translate(-50%, -25%);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 30px;
   color: #E74C3C;
}

.header_content {
   padding: 297px 0px;
}

.header_content h3 {
   font-size: 24px;
   color: #f4f5f9;
   font-weight: 500;
}

.header_content h1 {
   font-size: 72px;
   color: #f4f5f9;
   font-family: 'Open Sans', sans-serif;
   margin: 30px 0px;
}

.header_content p {
   color: #cbc6c0;
   font-family: 'Open Sans', sans-serif;
   max-width: 590px;
   margin: 0 auto;
}

.header_btn {
   margin-top: 60px;
}

.header_btn a {
   padding: 20px 45px;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   color: #fff;
   font-weight: 700;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-right: 30px;
   border: 2px solid #fff;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.header_btn a:hover {
   background: #E74C3C;
   border: 2px solid #E74C3C;
}

.header_bars {
   height: 46px;
   position: relative;
}

.header_bar_1 {
   background: #83756a;
   width: 80px;
   height: 1px;
   position: absolute;
   left: 43%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.header_bar_2 {
   background: #e74c3c;
   width: 7px;
   height: 7px;
   position: absolute;
   top: -3%;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.header_bar_3 {
   background: #83756a;
   width: 80px;
   height: 1px;
   position: absolute;
   left: 57%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.header_slider button.slick-arrow {
   z-index: 2;
   font-size: 20px;
   color: #453e39;
   background: #6f6863;
   border: none;
   width: 45px;
   height: 45px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.header_slider button.slick-arrow:focus {
   color: #fff;
   background: #E74C3C;
}

.header_slider button.slick-arrow:hover {
   color: #fff;
   background: #E74C3C;
}

.header_slider button.slick-prev.slick-arrow {
   position: absolute;
   top: 50%;
   left: 3%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.header_slider button.slick-next.slick-arrow {
   position: absolute;
   right: 3%;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

/************************************** 
     Header Section End
***************************************/


/************************************** 
    Tstimonial Section Start
***************************************/
.testimonial_area {
   padding-top: 90px;
   padding-bottom: 110px;
}

.testimonial_icon {
   position: relative;
   width: 74px;
   height: 74px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 40px;
}

.testimonial_icon:before {
   content: '';
   border: 2px solid #f6f6f6;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   background: #fff;
   z-index: -1;
}

.testimonial_icon:after {
   content: '';
   position: absolute;
   background: transparent;
   border: 2px solid #f5b4ae;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   -ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
   opacity: 0;
   z-index: -1;
}

.testimonial_icon span {
   font-size: 24px;
   color: #f5b4ae;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
}

.testimonial_icon:hover.testimonial_icon:after {
   opacity: 1;
}

.testimonial_icon:hover.testimonial_icon:before {
   opacity: 0;
}

.testimonial_content h4 {
   color: #e74c3c;
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 15px;
}

.border_bar {
   background: #cdcdcd;
   width: 40px;
   height: 2px;
   margin: 0 auto;
}

.testimonial_content p {
   color: #999999;
   font-size: 12px;
   margin-top: 15px;
   line-height: 20px;
   letter-spacing: .5px;
}

.testimonial_border_bottom {
   background: #f7f7f8;
   width: 100%;
   height: 2px;
}

.testimonial_area.slick-initialized .slick-slide {
   outline: none;
   padding: 20px 0px;
}

/************************************** 
    Tstimonial Section End
***************************************/


/************************************** 
     History Section Start
***************************************/
.history_height {
   padding: 140px 0px;
}

.history_text h2 {
   font-size: 36px;
   text-transform: uppercase;
   position: relative;
   padding-left: 30px;
   margin-bottom: 45px;
}

.history_text h2:after {
   content: '';
   position: absolute;
   background: #e74c3c;
   width: 36px;
   height: 6px;
   top: 50%;
   left: -3%;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}

.history_text p {
   font-weight: 500;
   letter-spacing: .3px;
}

a.history_btn {
   background: #E74C3C;
   font-size: 14px;
   text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   padding: 20px 42px;
   display: inline-block;
   margin-top: 50px;
   color: #fff;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.37);
   box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.37);
}

a.history_btn:hover {
   background: #d63e2e;
}

/************************************** 
     History Section End
***************************************/


/************************************** 
     Our Services Section Start
***************************************/
.services {
   height: 765px;
   background-color: #202020;
   z-index: 1;
   position: relative;
}

.services:after {
   background-image: url(../images/services/our_services_bg.jpg);
   background-position: center;
   background-size: cover;
   height: 765px;
   position: absolute;
   z-index: -2;
   content: '';
   width: 50%;
   top: 0%;
   left: 50%;
}

.service_icon_1 a,
.service_icon_2 a,
.service_icon_3 a {
   background: #f4f5f9;
   width: 64px;
   height: 64px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   top: 28%;
   position: absolute;
   left: -5%;
   font-size: 27px;
}

.service_icon_2 a {
   top: 48%;
   left: -5%;
}

.service_icon_3 a {
   top: 68%;
   left: -5%;
}

.service_icon_1 a:after,
.service_icon_2 a:after,
.service_icon_3 a:after {
   content: '';
   position: absolute;
   background: #fff;
   width: 72px;
   height: 72px;
   z-index: -1;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   opacity: .3;
   left: -6%;
   top: -7%;
}

.service_icon_2 a:after {
   left: -6%;
   top: -7%;
}

.service_icon_3 a:after {
   left: -6%;
   top: -7%;
}

.service_content {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -webkit-justify-content: flex-end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   height: 765px;
   text-align: right;
   padding-right: 58px;
   position: relative;
}

.service_bar {
   position: absolute;
   width: 34px;
   height: 1px;
   background-color: #2a2a2a;
   left: 0%;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   z-index: 5;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.service_bar_1 {
   top: 45%;
}

.service_bar_2 {
   top: 52%;
}

.service_bar_3 {
   top: 59%;
}

.service_text {
   margin-bottom: 70px;
   max-width: 670px;
}

.service_text:last-child {
   margin-bottom: 0px;
}

.service_content_tablecell {
   margin-left: 30px;
}

.service_content_tablecell h2 {
   font-size: 36px;
   color: #f4f5f9;
   text-transform: uppercase;
   position: relative;
}

.service_content_tablecell h2:after {
   position: absolute;
   content: '';
   width: 36px;
   height: 6px;
   background: #e74c3c;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   top: 50%;
}

.service_text h4 {
   font-size: 18px;
   text-transform: uppercase;
   color: #e74c3c;
   font-weight: 600;
   margin-top: 65px;
   margin-bottom: 10px;
}

.service_text p {
   line-height: 1.8;
   font-weight: 500;
}

/************************************** 
     Our Services Section End
***************************************/


/************************************** 
     Our Recent Works Start
***************************************/
.height_140 {
   padding-top: 140px;
}

.recent_work_box:hover .recent_work_sample::after {
   opacity: 1;
   left: 0%;
}

.recent_work_sample::after {
   content: '';
   position: absolute;
   background-color: rgba(231, 76, 60, .8);
   top: 0;
   left: 90%;
   width: 100%;
   height: 100%;
   opacity: 0;
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
}

.recent_work_top h2 {
   font-size: 36px;
}

.recent_work_top p {
   font-family: 'Open Sans', sans-serif;
   margin: 30px 0px;
}

.header_bars.recent_work_bar {
   height: 70px;
}

.recent_work_bar .header_bar_1 {
   left: 40%;
   background-color: #dddddd;
}

.recent_work_bar .header_bar_3 {
   left: 60%;
   background-color: #dddddd;
}

/* Recent Works Menu Start */
.recent_work_menu {
   margin-bottom: 50px;
}

.recent_work_menu button,
.recent_work_menu span {
   background: none;
   border: none;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 600;
   padding: 5px;
   color: #999999;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.recent_work_menu button:hover {
   color: #e74c3c;
}

.recent_work_menu .recent_work_active {
   color: #e74c3c;
}

/* Recent Works Menu End */

/* Recent Work Image Start */
.recent_works {
   text-align: center;
}

.recent_work_box {
   width: 25%;
   float: left;
   position: relative;
   overflow: hidden;
}

.recent_work_box:hover .recent_workd_sample_text {
   opacity: 1;
   bottom: 50px;
   left: 45px;
}

.recent_workd_sample_text {
   position: absolute;
   z-index: 2;
   bottom: 50px;
   left: -5%;
   text-align: left;
   opacity: 0;
   transition: .4s;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -o-transition: .4s;
}

.recent_workd_sample_text::before {
   content: '';
   background-color: #fff;
   width: 44px;
   height: 4px;
   top: -28px;
   left: 0%;
   position: absolute;
}

.recent_workd_sample_text h4 {
   font-weight: 600;
   font-size: 24px;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 1px;
   padding-bottom: 7px;
}

.recent_workd_sample_text p {
   color: #fff;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   letter-spacing: 1px;
}

/* Recent Works Image  End */

/************************************** 
     Our Recent Works End
***************************************/


/************************************** 
     Case Study Start
***************************************/
.height_150 {
   padding: 150px 0px;
   background-color: #F4F5F9;
}

.case_study_bg {
   position: relative;
}

.case_study_bg {
   background-image: url(../images/case_study_bg.jpg);
   height: 722px;
   position: absolute;
   content: '';
   width: 100%;
   top: 0%;
   left: -15%;
}

.recent_work_slider {
   z-index: 1;
}

.case_study_content.slick-slide {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.case_study_content {
   height: 722px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   z-index: 1;
   position: relative;
}

.case_sutyd_tablecell {
   background: #fff;
   width: 665px;
   height: 630px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.case_study_text {
   padding: 80px 60px 50px 60px;
}

.case_study_text span {
   width: 127px;
   height: 127px;
   background: #E74C3C;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   text-align: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0px auto;
   -webkit-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
}

.case_study_text span:hover {
   background: #d63e2e;
}

.case_study_text span img {
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.case_study_text h4 {
   font-size: 18px;
   text-transform: uppercase;
   margin-top: 70px;
   margin-bottom: 30px;
   font-family: 'Open Sans', sans-serif;
}

.header_bars.case_study_bar {
   height: 30px;
}

.case_study_bar .header_bar_1 {
   width: 41px;
   height: 2px;
   color: #cdcdcd;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.case_study_text p {
   font-weight: 500;
   letter-spacing: .5px;
}

a.case_study_btn {
   padding: 17px 38px;
   background: #E74C3C;
   display: inline-block;
   font-size: 12px;
   text-transform: uppercase;
   color: #fff;
   font-weight: 700;
   letter-spacing: .5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin: 50px 0px;
   -webkit-box-shadow: 0px 2px 3px 0px #999999;
   box-shadow: 0px 2px 3px 0px #999999;
}

a.case_study_btn:hover {
   background: #d63e2e;
}

/************************************** 
     Case Study End
***************************************/


/************************************** 
    Statistics Section Start
***************************************/
.defualt_padding {
   padding-top: 155px;
   padding-bottom: 143px;
}

.statistics_bg {
   background-image: url(../images/statistics_bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   z-index: 1;
   background-color: #999999;
}

.statistics_bg::after {
   content: '';
   position: absolute;
   background-color: #000;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   z-index: -1;
   opacity: .5;
}

.statistics .row {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.statistics .row {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.statistics_content span {
   background: transparent;
   width: 107px;
   height: 107px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   border: 2px solid #fff;
   color: #fff;
   font-size: 30px;
   margin: auto;
}

.statistics_content h3 {
   font-size: 30px;
   color: #fff;
   margin-top: 40px;
   margin-bottom: 7px;
}

.statistics_content p {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px;
   font-weight: 500;
   color: #fff;
}

/************************************** 
    Statistics Section End
***************************************/


/************************************** 
     Our Pricing Section Start
***************************************/
.pricing_card {
   background-color: #F4F5F9;
}

.pricing_card:hover .pricing_card_header,
.pricing_card:hover a.pricing_btn {
   background-color: #E74C3C;
}

.pricing_card:hover .price h4 {
   color: #E74C3C;
}

.pricing_card_header,
a.pricing_btn,
.price h4 {
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
}

.pricing_card_slider.slick-initialized.slick-slider .slick-slide:focus {
   outline: none;
}

.pricing_card_header {
   background-color: #999999;
   height: 205px;
   position: relative;
   padding-top: 55px;
}

.pricing_card_header h2 {
   font-weight: 600;
   font-size: 24px;
   color: #fff;
   font-family: 'Open Sans', sans-serif;
}

.price {
   position: absolute;
   top: 55%;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.price h4 {
   font-size: 40px;
   color: #999999;
}

.price p {
   color: #999999;
   font-weight: 500;
}

.price_transparent_bg {
   background: #f4f5f9;
   width: 175px;
   height: 175px;
   opacity: .25;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.price_bg {
   position: absolute;
   background: #fff;
   width: 153px;
   height: 153px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   top: 6%;
   left: 6%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.pricng_body {
   padding-top: 125px;
}

.pricng_body a {
   font-weight: 600;
   letter-spacing: .5px;
   font-family: 'Open Sans', sans-serif;
   color: #999999;
   margin-top: 20px;
   display: inline-block;
}

a.pricing_btn {
   background-color: #999999;
   color: #fff;
   margin-top: 50px;
}

/************************************** 
     Our Pricing Section End
***************************************/